{% extends 'glowny.html' %}

{% block tytul %} Lista filmów {% endblock %}

{% block strona %}
<div class="card" style="width: 23rem;" xmlns:width="http://www.w3.org/1999/xhtml"
     xmlns:width="http://www.w3.org/1999/xhtml">
     {% if user.is_authenticated %}
          <div class="card-body">
                <h5 class="card-title">Witaj {{ user.username }}</h5>
                    <a href="{% url 'logout' %}" class="btn btn-success">Logout <i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-success">Login <i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
          </div>
    </div>

    <a href="{% url 'nowy_film' %}">Dodaj nowy film <i class="fas fa-plus-circle"></i></a>

    {% if filmy|length == 0 %}
        <h2>Brak filmów</h2>
    {% else %}
    <!--      <h2>Ilość filmów w BD: {{ filmy|length }}</h2> -->
        {% for film in filmy %}
            <div class="card" style="width: 26rem;">
              <div class="card-body">
                  <img src="/media/{{ film.plakat }}" class="plakat" width="200px" float="left">
                  <div class="row">
                      <div class="col-9"
                         <h5 class="card-title">{{ film }}</h5>
                      </div>
                      <div class="col-3">
                          <a href="{% url 'edytuj_film' film.id %}"><i class="fas fa-2x fa-edit"></i></a>
                          <a href="{% url 'usun_film' film.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
                      </div>
                  </div>
                <p class="card-text">{{ film.opis }}</p>

              </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}